img{
  /* border:solid 1px red;  */
  width: 350px;
  /* justify-content: center;
  align-items: center;
  margin: auto; */
}


.journalbody{
  border: 4mm ridge rgba(211, 220, 50, .6);
}
.title{
  text-align: center;
  line-height: 10.0;
  
}
