:root *{
  font-family: 'Roboto', sans-serif;
}
/* .nav{
  height: 75px;
  background-color: teal;
  justify-content: space-around;

}
.navbar-img{
  width: 100px;
  margin-top: -25px;
} */
.logo{
  width: 100px;
  margin-left: 50px;
}
.landing{
  margin-left: 50px;
  margin-right: 80px ;
  margin-top: 150px;
  margin-bottom: 200px;
}
.landingsub{
  inline-size: 500px;
  overflow-wrap: break-word; 
  margin-bottom: 50px;

}
  
.landing-img{
  width: 600px;
}
.landing-btn{
  margin-top: 30px;
}
/* .login{

} */

/* .quotes{
  width: 50px;
} */

/* .goleman{
  width: 500px;
  justify-content: center;
  margin: 50px;
  
}

.lubetzky{
  width: 500px;
  justify-content: center;
  margin: 50px;
  
}
.nadella{
  width: 500px;
  justify-content: center;
  margin: 50px;
  
}

.cook{
  width: 500px;
  width: 500px;
  justify-content: center;
  margin: 50px;
  
} */

.journalbody{
  border: 2px solid black;
  /* padding: 5px; */
  border-radius: 25px;
}

/* .emoji-img{
  width: 50px;
  padding: 75px
 
} */

.enlarge img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

 .title{
  font-size: 30px;
  text-align: center;
  line-height: 3.0;
 }

.emoji .container{
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  width: 25px;
}

.talkTo{
  font-size: 30px;
  text-align: center;
  line-height: 3.0;
}

.radio{
  justify-content: center;
  margin: 60px;
}

.submit{
  display:flex;
  align-content: center;
  
}

.team{
  font-size: 60px;
  text-align: center;
  line-height: 3.0;
 }

.userjournal{
  border: 2px solid black;
  border-radius: 25px;
  padding: 75px;
  justify-content: space-evenly;

}
.footer {
  padding: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1900px;
  margin: 0 auto;
  flex-direction: column;
}