.logo{
    width: 100px;
    margin-left: 50px;
  }
  .landing{
    margin-left: 50px;
    margin-right: 80px ;
    margin-top: 150px;
    margin-bottom: 200px;
  }
  
  .landingsub{
    inline-size: 500px;
    overflow-wrap: break-word; 
    margin-bottom: 50px;
  }
    
  .landing-img{
    width: 600px;
  }
  .landing-btn{
    margin-top: 30px;
  }

