.logo{
    width: 100px;
    margin-left: 50px;
  }
  .landing{
    margin-left: 50px;
    margin-right: 80px ;
    margin-top: 150px;
    margin-bottom: 200px;
  }
  /* .langtitle{

  } */
  .landingsub{
    inline-size: 700px;
    overflow-wrap: break-word; 
    margin-bottom: 50px;
  }
    
  .landing-img{

    /* width: 650px; */
    width: 100%;
  }


